body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
  /* background-image: url(http://2.bp.blogspot.com/-U2fuLFKmsOc/UQT0FMvDE6I/AAAAAAAAAVo/Ht8qRRnBEW4/s1600/Allianz_Arena_Bayern_Munih.jpg); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
